// 아래에 폰트를 불러오는 코드를 넣어주세요.
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

// Global styling for this template
html{
  font-size: 10px !important;
}

body {
  font-size: 1.6rem !important;
  color: $gray-900;
  font-family: 'Noto Sans KR', sans-serif;
}

p {
  line-height: 1.5;
  margin: 0.7em 0;
  font-size: 1.6rem !important;
  a {
    text-decoration: underline;
  }
}
h1{
  font-size: 3.4rem !important;
}

h2{
  font-size: 2.6rem !important;
}
h3{
  font-size: 2.4rem !important;
}
h4{
  font-size: 2.2rem !important;
}
h5{
  font-size: 2rem !important;
}
h6{
  font-size: 1.8rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  color: $gray-900;
  &:focus,
  &:hover {
    color: $primary;
  }
}

blockquote {
  border-left-style: solid;
  border-left-color: #6ECEDA;
  border-left-width: thick;
  padding: 1em 1.5em;
  margin: 0.5em 0.5em;
  background-color: $gray-100;
  color: $gray-700;
}

.section-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 60px;
}

.caption {
  font-size: 1.4rem;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}
table{
  font-size: 1.6rem !important;
}
.center{
  display: block;
  margin: auto;
}
